<div class="div-subscribe-all">
  <div class="div-subscription-content">
    <div class="div-subscription-title">{{ content['field_subscribetitle'] }}</div>
    <div class="div-subscription-description">{{ content['field_subscribedescription'] }}</div>
    <div class="div-subscription-form">
      <input type="email" class="email-input" />
      <button class="subscribe-button">SUBSCRIBE</button>
    </div>
    <div class="div-subscription-checkbox">
      <input type="checkbox" class="div-confirmation-checkbox" />
      <div class="checkbox-label">{{ content['field_confirmation'] }}</div>
    </div>
  </div>
</div>
