<div class="div-subscribe-all">
  <div class="div-subscription-content">
    <div class="div-subscription-title"><h1>{{ content['field_subscribetitle'] }}</h1></div>
    <div class="div-subscription-description"><h2>{{ content['field_subscribedescription'] }}</h2></div>
    <div class="div-subscription-form">
    <h3 class="email-address-label">Email Address</h3>
      <input type="email" class="email-input" />
      <button class="subscribe-button">SUBSCRIBE</button>
    </div>
    <div class="div-subscription-checkbox">
      <input type="checkbox" class="div-confirmation-checkbox" />
      <div class="checkbox-label">{{ content['field_confirmation'] }}</div>
    </div>
  </div>
</div>
