<div class="div-toolbox-all">
  <div class="div-toolbox-title">{{ content.field_logo }}</div>
  <div class="div-toolbox-title">{{ content.field_toolbox_title }}</div>
  <div class="div-oolbox-description">{{ content.field_toolbox_description }}</div>
</div>
