<div class="div-carousel-all">
  <div class="content-carousel-top">
    {{ content.field_carousel_top }}
  </div>
  <div class="content-carousel-button">
    <a href="https://urbact.eu/events/lab-energy-viladecans">
      {{ content.field_carousel_button['#object'].get('field_carousel_button').value }}
    </a>
  </div>
  <div class="content-carousel-title">
    {{ content.field_carousel_title }}
  </div>
  <div class="content-carousel-image-overlay">
    {{ content.field_carousel_image_overlay }}
  </div>
</div>

